/* Box-sizing global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales */
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}


header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    border: 3px solid #1a252f;
    text-align: center;
}


.gallery{
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid #91fcc3;
    overflow: hidden; /* Para contener los floats */
    
}
/* Cada tarjeta */
.card{
  float:left;
  width: 30%;              /* 3 tarjetas por fila */    
  margin: auto 10px;         /* espacio entre tarjetas */
  padding:10px;        
  box-sizing:border-box; /* para que el padding no rompa el ancho */
  border:5px solid #e3f85e;
  background:#fff;
}

/* Efecto hacia arriba tarjetas */
.card:hover {
   border-color:blue;   
   transform: translateY(-10px);
   box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


/* Imagen ajustada */
.card img{
  width:100%;
  display:block;
  height: auto;
  margin-bottom: 5px;

}


/* FOOTER */
.footer {
    clear: both;
    margin-top: 10px;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border: 3px solid #1a252f;
    text-align: center;
}
